@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&family=Roboto&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    color:red;
}

p{
    font-family: 'Roboto', sans-serif;
    color:black;
}

::selection{
background-color:coral;
color:black;
}
::-moz-selection{
background-color:coral;
color:black;
}
.win {
    width:680px;
    height:350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-table;
}
.stockswin{
    margin: .5%;
    background-color: red;
    background-image:url("Images/StocksThumbnail.png");
}
.newswin{
    background-color:blue;
    margin: .5%;
    background-image:url("Images/NewsThumbnail.png");
}
.news_stocks-cont {
    padding: 3%;
}
#hyperlink_for-wins{
    position: relative;
    top: 310px;
}
#reason404{
position: relative;
top:-90px;
right:-455px;
text-align: center;
width:600px;
height:200px;
border:1px solid grey;
background-color:red;
overflow:scroll;
}
