@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&family=Roboto&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    color:red;
}

p{
    font-family: 'Roboto', sans-serif;
    color:black;
}

::selection{
background-color:coral;
color:black;
}
::-moz-selection{
background-color:coral;
color:black;
}